/*
h1,h2 {
    font-family: "Oswald"
}
body{
background-repeat:no-repeat;
background-attached:fixed;
background-size:cover;
background-image:url({{url_for('static',filename='media/Evining_Guitars.jpg')}});
}*/